.num{
  color:yellow;
  font-size: 400px;
  margin-left: 0;
}
body{

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUUEufcw7mIbilPZxXBGwSTK2GmuLYnSrn6CbIc4u0B4XUOBCJ");
  background-repeat:round;

}
